
.pagination-container {
    display : flex;
    flex-wrap: wrap;;
}
.page-number {
    padding: 5px;
    margin: 2px;
    border: 1px solid black;
    cursor: pointer;
}

.pagination-page-container {
    padding: 20px;
}

.page-number{
    cursor: pointer;

}
.active {
    background-color: #007bff;
    
}